// player

$playerBgColor: #000;
$playerIconColor: #fff;

// progress-bar
$progressOuterBgColor: rgba(255, 255, 255, 0.30);
$progressCacheBgColor: rgba(255, 255, 255, 0.50);
//$progressPlayedBgImage: linear-gradient(-90deg, #FA1F41 0%, #E31106 100%);
//$progressPlayedBgImage: #818cf8;
//$progressPlayedBgImage: #818cf8;
//$progressPlayedBgImage: linear-gradient(90deg, #ffd1dc, #e6e6fa, #b0e0e6);
$progressPlayedBgImage: linear-gradient(90deg, #ffd1dc, #e6e6fa, #b0e0e6);
// $progressPlayedShadow: 0 0 2px 0 rgba(0, 0, 0, 0.26);

// tips
$tipsColor: #fff;
$tipsBgColor: rgba(0, 0, 0, 0.54);
$tipsFontsize: 12px;

// slider
$sliderBgColor: rgba(0, 0, 0, 0.54);
$sliderBarBgColor: rgba(255, 255, 255, 0.30);
//$sliderDragBgColor: #FA1F41;
//$sliderDragBgColor: #818cf8;  //控制音量的背景颜色
$sliderDragBgColor: linear-gradient(90deg, #ffd1dc, #e6e6fa, #b0e0e6);
$sliderDragAfterBgColor: #fff;
$sliderDragAfterShadow: 0 0 5px 0 rgba(0, 0, 0, 0.26);

// start

$startBgColor: rgba(0, 0, 0, 0.38);
$startSvgFill: rgba(255, 255, 255, 0.7);
$startHoverBgColor: rgba(255, 255, 255, 0.5);
$startHoverFillColor: rgba(255, 255, 255, 0.6);

// definition

$definitionUlBgColor: rgba(0, 0, 0, 0.54);
$definitionLiColor: rgba(255, 255, 255, 0.8);
$definitionLiActiveColor: #818cf8;
//$definitionLiActiveColor: linear-gradient(90deg, #ffd1dc, #e6e6fa, #b0e0e6);
//$definitionLiActiveColor: #FF0000;
$definitionNameColor: rgba(255, 255, 255, 0.8);
$definitionNameBgColor: rgba(0, 0, 0, 0.38);

// replay

$replayBgColor: rgba(0, 0, 0, 0.54);
$replaySvgBgColor: rgba(0,0,0,0.58);
$replaySvgPathFillColor: #ddd;
$replaySvgHoverBgColor: rgba(0, 0, 0, .38);
$replaySvgHoverFillColor: #fff;
$replayTxtColor: #fff;

//$enterTipsBgColor: -webkit-linear-gradient(right, #000, red, red, red, #000);
//$ieEnterTipsBgColor: linear-gradient(to right, #000, red, red, red, #000);

$enterTipsBgColor: #818cf8;
$ieEnterTipsBgColor:#818cf8;

// live

$liveColor: #fff;

// error

$errorBgColor: #000;
$errorColor: #fff;
//$errorRefreshColor: #FA1F41;
$errorRefreshColor: #818cf8;

//icon
$iconMargin: 16px;
//
$miniMargin: 10px;


//bar
$barWidth: 50px;
$barBottom: 50px;