@use '../scss-vars' as *;


@mixin code-vars($isDark) {
  font-family: 'poetize-font', sans-serif;
  div.#{$theme-name} {
    // 行内
    --md-theme-code-inline-color: #{if($isDark, #e06c75, #d63200)};
    --md-theme-code-inline-bg-color: #{if($isDark, #1a1a1a, #f8f8f8)};

    // 圆角
    --md-theme-code-inline-radius: 2px;

    // 块
    --md-theme-code-block-color: #{if($isDark, #999, #747384)};

    // 背景
    --md-theme-code-block-bg-color: #{if($isDark, #1a1a1a, #f8f8f8)};
    // 顶部背景
    --md-theme-code-before-bg-color: var(--md-theme-code-block-bg-color);
    // 圆角
    --md-theme-code-block-radius: 5px;
  }
}

.#{$prefix} {
  @include code-vars(false);
}

.#{$prefix}-dark {
  @include code-vars(true);
}


div.#{$theme-name} {
  font-family: 'poetize-font', sans-serif;
  //code {
  //  padding: 3px 5px;
  //  margin: 0 2px;
  //}

  code {
    background-color: rgba(99, 102, 241, 0.1);
    padding: 0.2em 0.4em;
    border-radius: 3px;
    font-size: 0.9em;
    color: #6366f1;
  }

  .#{$prefix}-code {
    pre {
      font-size: 0.875em;
      margin: 0 0 1em;

      code {
        white-space: pre;
        padding: 22px 1em;
        margin: 0;

        // 带行号的代码
        span[rn-wrapper] {
          top: 22px;
        }
      }
    }
  }
}
