.myCustom-theme {
  //hr {
  //  height: 1px;
  //  margin: 10px 0;
  //  border: none;
  //  border-top: 1px solid var(--md-theme-border-color);
  //}

  hr {
    margin-top: 20px ;
    margin-bottom: 20px ;
    border: 0.5px dashed #fc625d ;
  }
}