@import url("./theme/myCustom/index.css");
@import url("./theme/myDefault/index.css");
@import url("./content/img-nine-layout.css");

.md-editor{
    font-family: 'blog-font', sans-serif !important;
}

/*
黑夜模式
*/
.md-editor-dark{
    /*--md-bk-color : #272727 !important;*/
    --md-bk-color : black ;
    /*--md-bk-color : black !important;*/
}
